<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">{{'Title' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
<!--        call the function to open a Modal (app-componnent.ts)-->
        <a class="nav-link" (click)="onOpenModalNoInput('add')">{{'AddPaper' | translate }}  <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
<!--      #key  Assigns a local reference name-->
<!--      ngModelChange  whenever something is updated in the field-->
      <input type="search" (ngModelChange) = "searchPaper(key.value)" #key="ngModel" ngModel
                   name="key" id="searchName" class="form-control mr-sm-2" placeholder="{{'SearchPlaceholder' | translate }}" required>
    </form>
  </div>
  <div class="container">
    <span class="form-inline">
      <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
  </div>
</nav>

<p> Drop Down Divisionen</p>

<select class="form-control" name="demo" id="#dd">
  <option selected="selected" value="one">Finance & Accounting</option>
  <option value="two">Management & Marketing</option>
  <option value="three">Supply Chain & Information Management</option>
</select>

<!--<p i18n="Test Description | Test Title for the Test Construction@@Testparagraph"> TEST TRANSLATE</p>-->
<!--Test editor-->
<!--<form [formGroup]="editorForm" (ngSubmit)="onSubmit()">-->
<!--  <div class="form-group">-->
<!--    <label for='editor'></label>-->
<!--    <quill-editor formControlName="editor"></quill-editor>-->
<!--  </div>-->
<!--</form>-->

<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Create the editor container -->
<div id="editor">
  <p>Hello World!</p>
  <p>Some initial <strong>bold</strong> text</p>
  <p><br></p>
</div>
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>


<div class="container mt-5 mb-3" id="mainContainer">
  <div class="row">
    <div *ngFor="let paper of papers" class="col-md-4">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
<!--            icon dokumentation: https://www.w3schools.com/css/css_icons.asp-->
            <div class="icon"> <i class="glyphicon glyphicon-envelope"></i> </div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">{{paper?.id}}</h6> <span>{{paper?.contact_person}}</span>
            </div>
          </div>
          <div class="badge"> <span>{{paper?.isPaid}}</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading">{{paper?.title}}</h3>
        </div>
        <div class="mt-5">
          <h5 class="heading">Institute: {{paper?.institute}}</h5>
        </div>
        <div class="mt-5">
          <h5 class="heading">Division: {{paper?.division}}</h5>
        </div>
        <div class="mt-5">

          <div *ngIf="paper?.isPaid; else elseBlock">Content to render when condition is true.</div>
          <ng-template #elseBlock>Content to render when condition is false.</ng-template>
        </div>
        <div class="float-right btn-group btn-group-sm">
          <a (click)="onOpenModal(paper, 'update')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
          <a (click)="onOpenModal(paper, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Add Paper Modal -->
<div class="modal" id="addPaperModal" tabindex="-1" role="dialog" aria-labelledby="addPaperModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPaperModalLabel">{{'AddTitle' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--        Form is a JSON File -->
        <form #addForm="ngForm" (ngSubmit)="onNewPaper(addForm)">
          <div class="form-group">
            <label for="title">{{'PaperTitle' | translate }}</label>
<!-- ngModul for the name is needed that the ts File Functions can access the value-->
            <input type="text" ngModel name="title" class="form-control" id="title" placeholder="{{'PaperTitle' | translate }}" required>
          </div>
          <div class="form-group">
            <label for="description">{{'PaperDescription' | translate }}</label>
            <input type="text" ngModel name="description" class="form-control" id="description" placeholder="{{'PaperDescription' | translate }}" required>
          </div>
          <div class="form-group">
            <label for="contact_person">{{'ContactPerson' | translate }}</label>
            <input type="text" ngModel name="contact_person" class="form-control" id="contact_person" placeholder="{{'ContactPerson' | translate }}" required>
          </div>
          <div class="form-group">
            <label for="division">{{'Division' | translate }}</label>
            <input type="text" ngModel name="division" class="form-control" id="division" placeholder="{{'Division' | translate }}" >
          </div>
          <div class="form-group">
            <label for="institute">{{'Institute' | translate }}</label>
            <input type="text" ngModel name="institute" class="form-control" id="institute" placeholder="{{'Institute' | translate }}" required>
          </div>
          //TODO send data to backend.
          <div>
<!--            <input type="checkbox" id="isPaid" name="isPaid">-->
<!--            <label for="isPaid">{{'isPaid' | translate }}</label>-->

            <input type="checkbox" id="isPaid" ng-model="isPaidCheck" ng-change="checkAll(check)" ng-true-value="YES" ng-false-value="NO"/> {{'isPaid' | translate }}
          </div>
          <div>
            <input type="checkbox" id="withPartner" name="withPartner">
            <label for="withPartner">{{'withPartner' | translate }}</label>
          </div>

          <div class="modal-footer">
            <button type="button" id="close-add-paper-form" class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate }}</button>
<!--            This means a invalid form cant be submitted because the button is diabled-->
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">{{'Save' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal to edit/configure an Paper -->
<div class="modal" id="updatePaperModal" tabindex="-1" aria-labelledby="updatePaperModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePaperModalLabel">{{'ChangeDate' | translate }} {{curPaper?.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="title">{{'PaperTitle' | translate }}</label>
            <input type="text" ngModel="{{curPaper?.title}}" name="title" class="form-control" id="titleEdit" aria-describedby="emailHelp" placeholder="{{'PaperTitle' | translate }}">
          </div>
<!--          hidden because id should not be updatet but id is needed for Hibernate to not create anew Paper-->
<!--           tODO add PaperCode if neccessary-->
          <input type="hidden" ngModel="{{curPaper?.id}}" name="id" class="form-control" id="id" placeholder="ID">
          <div class="form-group">
            <label for="Description">{{'PaperDescription' | translate }}</label>
            <input type="text" ngModel="{{curPaper?.description}}" name="description" class="form-control" id="descriptionEdited" placeholder="{{'PaperDescription' | translate }}">
          </div>
          <div class="form-group">
            <label for="contact_person">{{'ContactPerson' | translate }}</label>
            <input type="text" ngModel="{{curPaper?.contact_person}}" name="contact_person" class="form-control" id="contact_personEdited" placeholder="{{'ContactPerson' | translate }}">
          </div>
          <div class="form-group">
            <label for="division">{{'Division' | translate }}</label>
            <input type="text" ngModel name="division" class="form-control" id="divisionEdited" placeholder="{{'Division' | translate }}" required>
          </div>
          <div class="form-group">
            <label for="institute">{{'Institute' | translate }}</label>
            <input type="text" ngModel name="institute" class="form-control" id="instituteEdited" placeholder="{{'Institute' | translate }}" required>
          </div>
          <div>
            <input type="checkbox" id="isPaidEdited" name="isPaid" checked>
            <label for="isPaid">{{'isPaid' | translate }}</label>
          </div>
          <div>
            <input type="checkbox" id="withPartnerEdited" name="withPartner">
            <label for="withPartner">{{'withPartner' | translate }}</label>
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">{{'Close' | translate }}</button>
            <button (click)="onUpdatePaper(editForm.value)" data-dismiss="modal" class="btn btn-primary" >{{'Save' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal to delete a Paper -->
<div class="modal" id="deletePaperModal" tabindex="-1" aria-labelledby="deletePaperModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">{{'DelteDate' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> {{delPaper?.title}} {{'DeleteCheck' | translate }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary">{{'Close' | translate }}</button>
        <button (click)="onDeletePaper(delPaper.id)" type="button" class="btn btn-primary">{{'Save' | translate }}</button>
      </div>
    </div>
  </div>
</div>
