<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">{{'Title' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!--        call the function to open a Modal (app-componnent.ts) -- Only if User is LoggedIn-->
        <button *ngIf="!isLoggedIn()" class="btn btn-primary mr-3" (click)="addPaper()" type="button"> {{'AddPaper' | translate }}</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!--      #key  Assigns a local reference name-->
      <!--      ngModelChange  whenever something is updated in the field-->
      <input type="search" (ngModelChange) = "searchPaper(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="{{'SearchPlaceholder' | translate }}" required>
    </form>
  </div>
  <div class="container">
    <span class="form-inline">
      <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
    <button *ngIf="!isLoggedIn()" class="btn btn-primary" (click)="login()" type="button">{{'Login' | translate }}</button>
    <button *ngIf="isLoggedIn()" class="btn btn-primary" (click)="logout()" type="button">{{'Logout' | translate }}</button>
  </div>
</nav>

<!--TODO new side with detail search-->
<!--<router-outlet></router-outlet>-->


<!--&lt;!&ndash;User data needed atm but might be able to change later &ndash;&gt;-->
<form [formGroup]="authForm" (ngSubmit)="auth()" class="form-inline">

  <div class="form-group w-25" mb-2>
    <label for="Username">Username</label>
    <input type="text" formControlName="Username" name="Username" class="form-control" id="Username" placeholder="Username" required>
<!--    <label for="Password">Password</label>-->
<!--    <input type="text" formControlName="Password" name="Password" class="form-control" id="Password" placeholder="Password" required>-->
  </div>
  <button (click)="dummyLogIn()" authForm.invalid type="submit" class="btn btn-primary ">Log in</button>
</form>

<!--<button (click)="getDate()" authForm.invalid type="submit" class="btn btn-primary ">TEST DATE in</button>-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->


<!--Search detail-->
<!--<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseExample">-->
<!--  {{'detailSearch' | translate }}-->
<!--</button>-->
<!--<div class="collapse" id="collapseSearch">-->
<!--  <div>-->
<!--    <form [formGroup]="searchForm">-->

<!--      <div>-->
<!--      Value: {{searchForm.value | json}}-->
<!--      </div>-->
<!--      <div>-->
<!--        <input matInput placeholder="title" formControlName="title">-->
<!--      </div>-->

<!--        <input placeholder="your description" formControlName="description">-->



<!--        <input placeholder="Contact Person" formControlName="contact_person">-->



<!--        <select class="form-control" formControlName="division" id="divisionS">-->
<!--          <option *ngFor="let value of divisionDropdownValues"-->
<!--                  [value]="value">-->
<!--            {{value}}-->
<!--          </option>-->
<!--        </select>-->

<!--        <select class="form-control" formControlName="institute" id="instituteS">-->
<!--          <option *ngFor="let value of instituteDropDownValues"-->
<!--                  [value]="value">-->
<!--            {{value}}-->
<!--          </option>-->
<!--        </select>-->

<!--&lt;!&ndash;      <mat-checkbox class="form-control" formControlName="paid">Check me for paid</mat-checkbox>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-checkbox class="form-control" formControlName="withPartner">Check me for partner</mat-checkbox>&ndash;&gt;-->

<!--        <select class="form-control" formControlName="type">-->
<!--          <option *ngFor="let value of typeDropDownValues"-->
<!--                  [value]="value">-->
<!--            {{value}}-->
<!--          </option>-->
<!--        </select>-->

<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<div class="container mt-1 mb-3" id="mainContainer">
  <div class="row">
    <div *ngFor="let paper of papers" class="col-md-4">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <!--            icon dokumentation: https://www.w3schools.com/css/css_icons.asp-->
            <div class="icon"> <a id="notblue" href="mailtO:{{curPaper?.contactMail}}"><i class="glyphicon glyphicon-envelope mt-3"></i> </a> </div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">{{paper?.type}}</h6> <span>{{paper?.contact_person}}</span>
            </div>
          </div>
<!--          <div class="badge" *ngIf="paper?.paid; else elseBlock">{{'Paid' | translate }}</div>-->
<!--          <ng-template  #elseBlock> <div class="badge"> {{'NotPaid' | translate }} </div> </ng-template>-->

            <div *ngIf="paper?.paid;"><i class='glyphicon glyphicon-eur'></i> </div>

        </div>
        <div class="mt-1">
          <h3 class="heading">{{paper?.title}}</h3>
        </div>
        <div class="card card-body">
        <div class="mt-1">
          <h5 class="heading">{{'Institute' | translate }}: {{paper?.institute}}</h5>
        </div>
        <div class="mt-1">
          <h5 class="heading">{{'Division' | translate }}: {{paper?.division}}</h5>
        </div>
        <div class="mt-1">
          <h5 class="heading">{{'startDate' | translate }}: {{paper?.startDate | date:'MM/dd/yyyy'}}</h5>
        </div>
        <div class="float-right btn-group btn-group-sm">
          <a  (click)="onOpenModal('view', paper)" class="btn btn-primary tooltips" data-placement="top" data-original-title="View"><i class="fa fa-info"></i> </a>

          <a *ngIf="isSameUser('florian')" (click)="writeTest()" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
          <a *ngIf="!isLoggedIn()" (click)="editPaper(paper)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
          <a *ngIf="!isLoggedIn()" (click)="onOpenModal('delete', paper)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
        </div>
    </div>
  </div>
</div>

<!--Add Paper Modal -->
<div class="modal" id="addPaperModal" tabindex="-1" role="dialog" aria-labelledby="addPaperModalLabel" aria-hidden="true">
  <form [formGroup]="addForm" (ngSubmit)="onNewPaper()">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="addPaperModalLabel">{{'AddTitle' | translate }}</h5>-->
<!--        </div>-->
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!--        Form is a JSON File -->
          <div class="form-group">
            <label for="title">{{'PaperTitle' | translate }}</label>
            <!-- ngModul for the name is needed that the ts File Functions can access the value-->
            <input type="text" formControlName="title" name="title" class="form-control" id="title" placeholder="{{'PaperTitle' | translate }}" required>
          </div>
          <label id="description" for="Description">{{'PaperDescription' | translate }}</label>
          <editor  apiKey="jylqczf5m0u5lbxesf4zlzu5c3oaolfispstuwyj0838ejoe" formControlName="description"
                   [init]="{
             height: 300,
             menubar: false,
             plugins: [
               'advlist autolink lists link image charmap print preview anchor',
               'searchreplace visualblocks code fullscreen',
               'insertdatetime media table paste code help wordcount'
             ],
             toolbar:
               'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
           }"
          ></editor>
          <div class="form-group">
            <label for="contact_person">{{'ContactPerson' | translate }}</label>
            <input type="text" formControlName="contact_person" name="contact_person" class="form-control" id="contact_person" placeholder="{{'ContactPerson' | translate }}" required>

            <label for="contactMail">{{'contactMail' | translate }}</label>
            <input type="email" formControlName="contactMail" name="contactMail" class="form-control" id="contactMail" placeholder="{{'contactMail' | translate }}" >

            <label for="contactInfo">{{'contactInfo' | translate }}</label>
            <input type="text" formControlName="contactInfo" name="contactInfo" class="form-control" id="contactInfo" placeholder="{{'contactInfo' | translate }}" >

          </div>
          <div class="form-group">
            <label for="division">{{'Division' | translate }}</label>
            <select class="form-control" formControlName="division" id="division">
              <option *ngFor="let value of divisionDropdownValues"
                      [value]="value">
                {{value}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="institute">{{'Institute' | translate }}</label>
            <select class="form-control" formControlName="institute" id="institute">
              <option *ngFor="let value of instituteDropDownValues"
                      [value]="value">
                {{value}}
              </option>
            </select>
          </div>
<!--          TODO ausbaustufe: https://stackblitz.com/edit/angular-gujg2e-->
          <div class="form-group">
            <label for="type">{{'Type' | translate }}</label>
            <select class="form-control" formControlName="type" id="type">
              <option *ngFor="let value of typeDropDownValues"
                      [value]="value">
                {{value}}
              </option>
            </select>
          </div>
          <div>
            <input type="checkbox" formControlName="paid" id="isPaid" name="isPaid">
            <label for="isPaid">{{'isPaid' | translate }}</label>
          </div>

          <div class="form-group">
            <label for="paymentType">{{'paymentType' | translate }}</label>
            <select class="form-control" formControlName="paymentType" id="paymentType">
              <option *ngFor="let value of paymentDropDownValues"
                      [value]="value">
                {{value}}
              </option>
            </select>
          </div>

          <label for="paymentAmount">{{'paymentAmount' | translate }}</label>
          <input type="number" formControlName="paymentAmount" name="paymentAmount" class="form-control" id="paymentAmount" placeholder="{{'paymentAmount' | translate }}" >

          <div>
            <input formControlName="withPartner" type="checkbox" id="withPartner" name="withPartner" >
            <label for="withPartner">{{'withPartner' | translate }}</label>
          </div>

          <div>
            <label for="startDate">{{'startDate' | translate }} </label>
            <input formControlName="startDate" type="date" id="startDate" name="startDate" value="{{getDate() | date:'MM/dd/yyyy'}}">

            <input formControlName="aviableNow" type="checkbox" id="aviableNow" name="aviableNow" >
            <label for="withPartner">{{'aviableNow' | translate }}</label>

          </div>
          <div>
            <label for="endDate">{{'endDate' | translate }} </label>
            <input formControlName="startDate" type="date" id="endDate" name="endDate" >
          </div>
          <div class="modal-footer">
            <button type="button" id="close-add-paper-form" class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate }}</button>
            <!--            This means a invalid form cant be submitted because the button is disabled-->
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">{{'Save' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Modal to edit/configure an Paper -->
<div class="modal" id="updatePaperModal" tabindex="-1" aria-labelledby="updatePaperModal" aria-hidden="true">
  <form [formGroup]="editForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="updatePaperModalLabel">{{'ChangeDate' | translate }} &lt;!&ndash;formControlName="title"&ndash;&gt; </h5>-->
<!--        </div>-->
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="form-group">
            <label for="title">{{'PaperTitle' | translate }}</label>
            <input type="text" formControlName="title" name="title" class="form-control" id="titleEdit" aria-describedby="emailHelp" placeholder="{{'PaperTitle' | translate }}">
          </div>
          <!--          hidden because id should not be updatet but id is needed for Hibernate to not create anew Paper-->
          <input type="hidden" formControlName="id" name="id" class="form-control" id="id" placeholder="ID">
          <label for="Description">{{'PaperDescription' | translate }}</label>
          <editor  apiKey="jylqczf5m0u5lbxesf4zlzu5c3oaolfispstuwyj0838ejoe" formControlName="description"
                   [init]="{
           height: 300,
           menubar: false,
           plugins: [
             'advlist autolink lists link image charmap print preview anchor',
             'searchreplace visualblocks code fullscreen',
             'insertdatetime media table paste code help wordcount'
           ],
           toolbar:
             'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
         }"
          ></editor>
          <div class="form-group">
            <label for="contact_person">{{'ContactPerson' | translate }}</label>
            <input type="text" formControlName="contact_person" name="contact_person" class="form-control" id="contact_personEdited" placeholder="{{'ContactPerson' | translate }}">

            <label for="contactMail">{{'contactMail' | translate }}</label>
            <input type="email" formControlName="contactMail" name="contactMail" class="form-control" id="contactMailEdited" placeholder="{{'contactMail' | translate }}" >

            <label for="contactInfo">{{'contactInfo' | translate }}</label>
            <input type="text" formControlName="contactInfo" name="contactInfo" class="form-control" id="contactInfoedited" placeholder="{{'contactInfo' | translate }}" >
          </div>
          <div class="form-group">
            <label for="division">{{'Division' | translate }}</label>
            <select class="form-control" formControlName="division">
              <option *ngFor="let value of divisionDropdownValues"
                      [value]="value">
                {{value}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="institute">{{'Institute' | translate }}</label>
            <select class="form-control" formControlName="institute">
              <option *ngFor="let value of instituteDropDownValues"
                      [value]="value">
                {{value}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="type">{{'Type' | translate }}</label>
            <select class="form-control" formControlName="type" id="typeEdited">
              <option *ngFor="let value of typeDropDownValues"
                      [value]="value">
                {{value}}
              </option>
            </select>
          </div>
          <div>
            <input formControlName="paid" type="checkbox"  id="paidEdited" name="paid">
            <label  for="paid">{{'paid' | translate }}</label>
          </div>

          <div class="form-group">
            <label for="paymentType">{{'paymentType' | translate }}</label>
            <select class="form-control" formControlName="paymentType" id="paymentTypeEdited">
              <option *ngFor="let value of paymentDropDownValues"
                      [value]="value">
                {{value}}
              </option>
            </select>
          </div>

          <label for="paymentAmount">{{'paymentAmount' | translate }}</label>
          <input type="number" formControlName="paymentAmount" name="paymentAmount" class="form-control" id="paymentAmountEdited" placeholder="{{'paymentAmount' | translate }}">

          <div>
            <input formControlName="withPartner" type="checkbox" id="withPartnerEdited" name="withPartner">
            <label for="withPartner">{{'withPartner' | translate }}</label>
          </div>
          <div>
            <label for="startDate">{{'startDate' | translate }} </label>
            <input formControlName="startDate" type="date" id="startDateEdited" name="startDate" >
          </div>
          <div>
            <label for="endDate">{{'endDate' | translate }} </label>
            <input formControlName="startDate" type="date" id="endDateEdited" name="startDate" >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">{{'Close' | translate }}</button>
          <button (click)="onUpdatePaper()" data-dismiss="modal" class="btn btn-primary" >{{'Save' | translate }}</button>
        </div>
      </div>
    </div>
  </form>
</div>



<!-- Modal to delete a Paper -->
<div class="modal" id="deletePaperModal" tabindex="-1" aria-labelledby="deletePaperModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="deleteModalLabel">{{'DeleteData' | translate }}</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>  {{'DeleteCheck' | translate }} <b>{{delPaper?.title}}</b> {{'DeleteCheck2' | translate }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary">{{'Close' | translate }}</button>
        <button (click)="onDeletePaper(delPaper.id)" type="button" class="btn btn-primary">{{'Save' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to view a Paper -->
<div class="modal" id="viewPaperModal" tabindex="-1" aria-labelledby="viewPaperModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="viewModalLabel">{{'ViewData' | translate }}</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p> <b> {{'PaperTitle' | translate }}: </b> {{curPaper?.title}}</p>
        <div>
          <p> <b> {{'PaperDescription' | translate }}: </b> </p>
          <h5 class="heading" [innerHTML]=curPaper?.description>Description</h5>
        </div>
        ------------------------------------------------------------------------
        <div class="mt-5">
          <h5 class="heading"> <b>{{'Division' | translate }}: </b> {{curPaper?.division}}</h5>
        </div>
        <div class="mt-5">
          <h5 class="heading"> <b>{{'Institute' | translate }}: </b> {{curPaper?.institute}}</h5>
        </div>
        <div class="mt-5">
          <h5 class="heading">{{'startDate' | translate }}: {{curPaper?.startDate | date:'MM/dd/yyyy'}}</h5>
        </div>
        <div class="mt-5">
          <h5 class="heading">Mail: <a href="mailtO:{{curPaper?.contactMail}}">{{curPaper?.contactMail}}</a> </h5>
        </div>
          ------------------------------------------------------------------------
        <div class="mt-3">
          <div *ngIf="curPaper?.withPartner; else elseBlock">{{'withPartner' | translate }}</div>
          <ng-template #elseBlock>{{'withoutPartner2' | translate }}</ng-template>
        </div>
        <div class="mt-3">
          <div *ngIf="curPaper?.paid; else elseBlock">
            {{'Paid' | translate }} {{curPaper?.paymentType}} {{curPaper?.paymentType}}
          </div>
          <ng-template #elseBlock>{{'NotPaid' | translate }}</ng-template>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary">{{'Close' | translate }}</button>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
